<h3>Current Store Products</h3>

{{#if selectedProduct}}
  <h2>{{selectedProduct.title}}</h2>
  <p>
    {{selectedProduct.brand}}<br>
    {{selectedProduct.price}}<br>
    {{selectedProduct.sale}}<br>
    {{selectedProduct.description}}<br>
    {{selectedProduct.image}}<br>
    {{selectedProduct.category}}<br>
  </p>
  {{update-product update="update" delete="delete" product=selectedProduct}}
{{/if}}
<hr>

<h4>Click an item below to edit or delete:</h4>
<ul class="admin-list">
  {{#each model as |product|}}
    <li {{action 'showProduct' product}}>{{product.title}}</li>
  {{/each}}
</ul>
