
{{#if updateForm}}
  <form>
    <label for="newTitle">new Title</label>
    {{input value=newTitle id="newTitle"}}<br>

    <label for="newBrand">new Brand</label>
    {{input value=newBrand id="newBrand"}}<br>

    <label for="newPrice">new Price</label>
    {{input value=newPrice id="newPrice"}}<br>

    <label for="newSale">new Sale</label>
    {{input value=newSale id="newSale"}}<br>

    <label for="newDescription">new Description</label>
    {{input value=newDescription id="newDescription"}}<br>

    <label for="newImage">new Image</label>
    {{input value=newImage id="newImage"}}<br>

    <label for="newCategory">new Category</label>
    {{input value=newCategory id="newCategory"}}<br>

    <button type="button" {{action "update" product}}>Save</button>
  </form>

{{else}}
  <button type="button" {{action "updateForm"}}>Update</button>
{{/if}}

<button type="button" {{action "delete" product}}>Delete</button>
